.HeaderPhoto__container { 
    width: 100%;
    display: flex;
    justify-content: center;
    height: 200px;
    margin: 0 auto;
    /* border: 1px solid violet; */
    z-index: -1;

}

.HeaderPhoto__container img { 
    width: 100%;
    height: 200px;
    filter: blur(0px);
    object-fit: cover;
    object-position: bottom center;

}

.HeaderPhoto__view-name__container {
   display: flex;
   position: absolute;
   height: 70px;
   top: 311.5px;
   width: 74%;
   margin: 0 auto;
   background-color: rgba(0, 0, 0, 0.7);
}

.HeaderPhoto__view-name__container h1 { 
    display: flex;
    width: 100%;
    height: 100%;
    margin: auto 0;
    justify-content: center;
    align-items: center;
    color: white;
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 2px;
}


@media  screen and (max-width: 767px) {

    .HeaderPhoto__view-name__container { 
        top: 210px;
        width: 90%;
    }
    .HeaderPhoto__view-name__container h1 { 
        font-size: 17px;
    }
}

@media  screen and (min-width: 767px) and (max-width: 991px) {

    .HeaderPhoto__view-name__container { 
        top: 180px;
        width: 85%;
    }
    
}