.StaffSinglePage__container-main { 
    width: 100%;
    /* margin-top: 181px; */
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.StaffSinglePage__categorier-headerSpecial { 
    font-size: 20px;
    margin: 0 auto; 
    width: 70%;
    text-transform: uppercase;
    position: relative; 
    top: 2rem;
}


.StaffSinglePage__container { 
    width: 90%;
    margin: 0rem auto;
    /* border: 1px solid gainsboro; */
    height: fit-content;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;

}

.StaffSinglePage__container-left { 
    width: 40%;
    display: flex;
    flex-direction: row;
    min-height: 70vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 2rem;
    
}

.StaffSinglePage__container-left h2 { 
    width: 90%;
    margin: 0;
    text-transform: uppercase;
}

.StaffSinglePage__container-left p { 
    height: fit-content;
    min-height: 40vh;
    max-height: 90%;
    width: 90%;
    text-align: justify;
    height: 90%;
    line-height: 1.5;
    margin: 0 !important;
    border: 1px solid violet;
    padding: 0 !important;
   
}

.StaffSinglePage__container-left div { 
    width: 88%;
    display: flex;
    flex-direction: row;
    margin: .5rem 0;
    align-items: center;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #f4f2ec;
    padding: .5rem;
}



.StaffSinglePage__container-left div a { 
    font-size: 13px; 
    font-weight: 500; 
    text-transform: none !important;
    text-decoration: none; 
    color: #AB0707;
    cursor: auto;
    height: 100% !important;
    padding: 0 !important;
    display: flex;
    align-items: center; 
    margin: auto .5rem;

}

.StaffSinglePage__container-right { 
    margin-top: 2rem;
    width: 30%;
    height: fit-content;
    min-height: 70vh;
}

.StaffSinglePage__categories-container { 
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}




.StaffSinglePage__card-container { 
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid violet; */
    height: fit-content;
}

.StaffSinglePage__card-info__container { 
    width: fit-content;
    min-width: 89%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border: 1px solid gainsboro;


}

.StaffSinglePage__card-info__container p { 
    width: 90%;
    display: flex;
    margin: 0 auto;
    padding: 1rem 0;
    

}





.border-bottom__onlyOneElement { 
    border-bottom: 1px solid gainsboro;
}

.customHeight { 
    min-width: 90% !important;
    max-width: fit-content !important;
}


.StaffSinglePage__card-info__container a { 
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 12px;
    color: rgb(194, 10, 10);
}

.StaffSinglePage__contact-info { 
    width: 70%;
    margin: 0 auto;
}

.StaffSinglePage__contact-info div { 
    text-transform: none;
    width: 91%;
    display: flex;
    flex-direction: row;
    margin: .5rem auto;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
    background-color: #f4f2ec;
    padding: .5rem;
}

.StaffSinglePage__contact-info div a { 
    font-size: 11px; 
    font-weight: 500; 
    text-transform: none !important;
    text-decoration: none; 
    color: #AB0707;
    cursor: auto;
    height: 100% !important;
    padding: 0 !important;
    display: flex;
    align-items: center; 
    margin: auto .5rem;
}

/* .StaffSinglePage__container-main .Categories__main-container { 
    width: 80% !important;
    max-width: 70% !important;
    margin: 2rem auto !important;

}

.StaffSinglePage__container-main .Categories__container { 
    width: 30% !important;
} */

.StaffSinglePage__categories-container .Categories__main-container { 
    width: 100% !important;
    margin-top: 2rem;
}

.StaffSinglePage__categories-container .Categories__container { 
    width: 100% !important;
}

.StaffSinglePage__categories-container .Categories__main-container a { 
    width: 80% !important;
}





@media screen and (max-width: 767px) {

    .StaffSinglePage__categories-container { 
        width: 95% !important;
    }

    .StaffSinglePage__categories-container .Categories__container { 
        width: 85% !important;
    }

    .StaffSinglePage__categories-container .Categories__main-container a { 
        width: 20% !important;
    }

    .StaffSinglePage__container-left { 
        width: 90%;
    }

    .StaffSinglePage__container-left h2  { 
        width: 95% !important;
        margin: 0 auto;
    }

    .StaffSinglePage__container-left  p { 
        width: 95% !important;
        margin: 1rem auto;

    }

    .StaffSinglePage__contact-info { 
        width: 94%;
    }

    .StaffSinglePage__container-main { 
        margin-top: 80px;
    }

    .StaffSinglePage__container { 
        flex-direction: column-reverse;
        width: 95%;
    }

    .StaffSinglePage__container-right { 
        width: 100% !important;
        display: flex;
        flex-direction: column;
        margin: 1rem 0;
    }

    .StaffSinglePage__container-left { 
        width: 100%;
    } 
    .StaffSinglePage__card-info__container { 
        width: 100%;
    }
    .StaffSinglePage__card-info__container p { 
        width: 80% !important;
    }

    .StaffSinglePage__container-main .Categories__container { 
        width: 100% !important;
    }
    .StaffSinglePage__container-main .Categories__container a { 
        width: 100% !important;
    }
    

    .StaffSinglePage__contact-info { 
        display: flex;
        flex-direction: column !important;
    }

   

    
}   

@media screen and (min-width: 768px) and (max-width: 991px) { 

    .StaffSinglePage__categories-container { 
        width: 95% !important;
    }

    .StaffSinglePage__categories-container .Categories__container { 
        width: 85% !important;
    }

    .StaffSinglePage__categories-container .Categories__main-container a { 
        width: 20% !important;
    }

    .StaffSinglePage__container-left { 
        width: 100%;
        max-width: none !important;
        min-width: 90% !important;
        display: flex; 
        flex-direction: column;
    }
    .StaffSinglePage__container-right { 
        width: 90%;
        display: flex; 
        margin: 2rem auto;

        flex-direction: column;
    }

    .StaffSinglePage__container-left h2  { 
        width: 95% !important;
        margin: 0 auto;
    }

    .StaffSinglePage__container-left  p { 
        width: 95% !important;
        margin: 1rem auto;

    }

    .StaffSinglePage__contact-info { 
        width: 94%;
    }



    .StaffSinglePage__container-main { 
        margin-top: 80px;
    }


    .StaffSinglePage__container { 
        flex-direction: column-reverse;
        width: 85%;
    }

    .StaffSinglePage__container-right { 
        width: 50% !important;
        min-height: fit-content !important;
        max-height: fit-content !important;
        margin-bottom: 2rem;
        display: flex !important;
        
  
    }

    .StaffSinglePage__card-container { 
        flex-direction: column !important;
        align-items: center !important;
    }

    .StaffSinglePage__container-left { 
        width: 50%;
        max-height: fit-content !important;
        min-height: fit-content !important;
        margin: 2rem auto !important;
        margin-bottom: 0 !important;
    } 

    .StaffSinglePage__container-left p { 
        min-height: fit-content !important;
    }

    .StaffSinglePage__card-info__container { 
        width: 100%;
        min-width: 42% !important;
    }
    .StaffSinglePage__card-info__container p { 
        width: 90%;
    }

    .StaffSinglePage__container-main .Categories__main-container { 
        width: 90% !important;
        min-width: 90% !important;
        max-width: none !important;
        margin: 2rem auto !important;
    
    }
    
    .StaffSinglePage__container-main .Categories__container { 
        width: 40% !important;
        margin-left: 2rem;
        position: relative;
        left: 0 !important;
    }


}


