.HamburgerMenu__container { 
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgb(241, 229, 172, .95);
    background-color: white;
    
}

.HamburgerMenu__img-container { 
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 10%;
    scale: .65;
    cursor: pointer;
}

.HamburgerMenu__img-container img { 
    width: 100%;
    height: 100%;
}

.HamburgerMenu__links-container { 
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 80px;
    width: 100%;
    justify-content: flex-start;

}



.HamburgerMenu__links-container li { 
    width: 100%;
    min-height: 50px;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.HamburgerMenu__links-container a { 
    width: 100%;
    min-height: 50px;
    height: fit-content;
    margin: 0;
    color: #323232;
    border-bottom: 1px solid gainsboro;
    font-size: 12px;
    /* border-bottom: 1px solid brown; */

}

.HamburgerMenu__links-container a:hover { 
    color: black;
    background-color: white;
}

.HamburgerMenu__links-container a img { 
    width: 20px;
    height: 20px;
    margin-right: .5rem;
}

.hidden { 
    display: none !important;
}

.transparent { 
    background-color: transparent;
}

.HamburgerMenu__container-bg__color { 
    background-color: white;
}


.HamburgerMenu__sub-menu {
    display: flex;
    min-height: fit-content;
    list-style: none;
    width: 100%;
    margin: 0 auto;
    top: 50px;
    padding: 0;
  }
  
  .HamburgerMenu__sub-menu li {
    margin: 0;
    min-height: 50px;
    height: fit-content;
    padding: 8px 0; /* Dodajte razmak između podmeni elemenata */
  }
  
  .HamburgerMenu__sub-menu a {
    color: #666; /* Dodajte boju linkova u podmeniju */
  }




@media screen and (min-width: 991px) {

    .HamburgerMenu__container { 
        display: none;
    }
    
}