.menuCopy__container { 
    height: 180px;
    width: 100%;
    border-bottom: 1.5px solid #AB0707;
    display: flex;
    top: 0px;
    z-index: 1;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-between;
    /* background: linear-gradient(90deg, rgba(250, 248, 250, 1) 0%, rgba(255, 228, 155, 1) 100%); */
    background-color: white;
    transition: all .2s ease-in-out;
    
    
    
}

.hideMenu { 
    opacity: 0 !important;
}

.menuCopy__logo-icon__container { 
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;

}

.menuCopy__img-container { 
    height: 80%;
    width: 100px;
    margin: auto 0;

}

.menuCopy__img-container img { 
    height: 100%;
    width: 300px;
    scale: 1.5;
}

.menuCopy__lang-icons__container { 
    width: 30%;
    height: 70%;
    margin: auto 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}

.menuCopy__lang-icons__container a { 
    text-decoration: none;
    color: #202020;
    font-size: 12px;
    font-weight: 500;
    margin: 0 1rem;
    height: fit-content;
    text-transform: uppercase;
    min-width: 80px;

}

.menuCopy__lang-icons__container a:hover { 
    color: #AB0707;
    scale: 1.02;
}

.userLogin__container { 
    display: flex;
    position: relative; 
    top: 20px;
    justify-content: flex-end;
    /* border: 1px solid violet; */
}

.userLogin__container img { 
    width: 20px !important;
    height: 20px !important;
    margin: 0 .5rem;
}



.menuCopy__login-container { 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    height: 100%;
}

.menuCopy__login-container p { 
    margin: 0;
    text-decoration: none;
    color: #202020;
    font-size: 12px;
    font-weight: 500;
    /* margin: 0rem 1rem; */
    height: fit-content;
    text-transform: uppercase;
    min-width: 80px;
    cursor: pointer;
    text-align: end;
}

#userLogin-name { 
    font-size: 12px !important; 
    font-weight: 500 !important;
    text-transform: uppercase !important;
    padding: 0; 
    height: 100%;
    width: fit-content;
    min-width: fit-content;
    display: flex; 
    align-items: center;
    justify-content: flex-end;
    text-align: end;
}

.menuCopy__login-container p:hover { 
    color: #AB0707;
    scale: 1.02;
}




.menuCopy__container-inner { 
    width: 100%;
    height: 50px;
    border: none;
    display: flex;
    margin: 0 auto;
    background-color: #d4ae37;
    /* background-color: white; */
    

    
}

.menuCopy__container-inner ul { 
    margin: 0; 
    padding: 0;
    display: flex;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    flex-direction: row; 
    justify-content: flex-start;
    margin-left: 10%;
}


.search-button { 
    width: 30px;
    height: 100%;
    cursor: pointer;
  
}
.search-relative__container { 
    display: flex;
    position: absolute;
    right: 10%;
}

.search-hide { 
    display: none !important;
}

input[type="text"],input[type="password"] { 
    position: absolute;
    top: 120%;
    right: 27%;
    width: 200px;
    border: none;
    outline: 1px solid #AB0707;
    border-radius: 3px;
    height: 100%;
    margin: auto 0;
}

/* input[type="text"]:focus, input[type="password"]:focus { 
    outline: 2px solid goldenrod;
    border-radius: 3px;
} */



input[type=text], input[type=password] {
    padding:0 .5rem;
    font-family: 'IBM Plex Sans', sans-serif;
    color: gray;
}

input[type="text"]::placeholder { 
    font-family: 'IBM Plex Sans', sans-serif;
    padding: 0 .1rem;
}





@media  screen and (max-width: 991px) {

    .menuCopy__container-inner, .menuCopy__lang-icons__container, .menuCopy__lang-icons__container a { 
        display: none;
    }

    .menuCopy__container { 
        height: 80px;
        position: fixed;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid gainsboro;
    }

    .menuCopy__img-container img { 
        scale: 1.5;
        width: 150px;
    }

    

    .search-relative__container { 
        display: none;
    }


   
}

@media  screen and (max-width: 1138px) and (min-width: 1001px) { 

    .menuCopy__container-inner { 
        width: 100%;
    }

    .menuCopy__container-inner ul { 
        width: 90%;
        margin: 0 auto;
    }

    .search-relative__container { 
        position: absolute;
        right: 1%;
    }
}

