

.FeaturesNewsCard__container { 
    display: flex;
    /* height: 320px;
    width: 230px; */
    height: 360px;
    width: 250px;
    max-width: 455px;
    text-decoration: none;
    color: #AB0707;
    /* border: 1px solid gainsboro;                            */
    border: 1px solid #F1E5AC;
    background-color: rgb(241, 229, 172, .1);
    /* background-color: rgb(244, 242, 236, .5); */
    margin: 1rem .5rem;
    flex-direction: column;
    cursor: pointer;
}

.FeaturesNewsCard__container:hover.FeaturesNewsCard__container h1 { 
    color: #AB0707 !important;
    cursor: pointer;
    text-decoration: underline;

}

.FeaturesNewsCard__img-container { 
    height: 60%;
    max-height: 60%;
    min-height: 60%;
    /* background-color: blueviolet; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.FeaturesNewsCard__container img { 
    object-fit: cover;
    object-position: top center;
    height: 98.5%;
    width: 100%;
    scale: .95;
    max-height: 100%;
    border-bottom: 1px solid gainsboro;
}

.FeaturesNewsCard__info-container { 
    display: flex;
    width: 100%;
    flex-direction: column;
    position: relative;
    height: 40%;
    min-height: 40%;
    max-height: 40%;
    margin: 0 auto !important;
    padding: 0;
    justify-content: space-between;
    /* border: 1px solid violet; */

}



.FeaturesNewsCard__info-container h1 { 
    width: 95%;
    margin: .5rem auto !important;
    font-size: 16px !important;
    line-height: 1.5;
    text-transform: none !important;
    padding: 0;
}

.FeaturesNewsCard__info-container p { 
    margin: .5rem auto !important;
    width: 95%;
    text-decoration: none !important;
    font-size: 13px !important;
    color: black;
}



@media screen and  (max-width: 767px) { 

    .FeaturesNewsCard__container { 
        width: 100% !important;
       
    }

    .FeaturesNewsCard__img-container { 
        height: 180px !important;
    }

    .FeaturesNewsCard__info-container h1  { 
        color: #AB0707 !important;
        cursor: pointer;
        text-decoration: underline;
        
    }

    

    .FeaturesNewsCard__img-container img { 
        height: 97% !important;
        scale: .98;
    }

    .FeaturesNewsCard__info-container { 
        height: 40%;
        min-height: 10% !important;
    }


  
}

@media screen and  (min-width: 768px) and (max-width: 991px) { 

        .FeaturesNewsCard__container { 
            width: 30%;
            margin: .5rem;
        }
        .FeaturesNewsCard__info-container p { 
            font-size: 12px;
        }

        .FeaturesNewsCard__img-container img { 
            height: 99% !important;
            width: 99%;
            scale: .98;
        }

       


}

@media screen and (max-width: 767px) { 
    .FeaturesNewsCard__container { 
        width: 30%;
        margin: .5rem !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) { 
    .FeaturesNewsCard__container { 
        width: 30%;
        margin: .5rem !important;
    }

    .FeaturesNewsCard__container { 
        margin-bottom: 1rem !important;
    }
}