

.HamburgerMenuItem__content-container { 
    display: flex;
    width: 100%;
}


.HamburgerMenuItem__content-container__link { 
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    font-size: 14px;
    height: fit-content;
}

.HamburgerMenuItem__content { 
    height: 0px;
    width: 90%;
    background-color: bisque;
}

.openMenu { 
    height: fit-content;
}

.HamburgerMenuItem__content a { 
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    font-size: 14px;
    height: fit-content;
}