

.HamburgerMenuItem__content-container { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: .5rem 0;
    width: 100%;
    border: 1px solid gainsboro;
    color: black;
}


.HamburgerMenuItem__content-container__link { 
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    font-size: 15px;
    height: fit-content;
    text-decoration: none;
    color: black;
}

.HamburgerMenuItem__content { 
    height: 0px;
    display: none;
    width: 90%;
    background-color: rgb(220, 220, 220, .7);
    transition: height ease-in-out .5s;
}

.openMenu { 
    height: fit-content;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem 0;
    background-color: rgb(220, 220, 220, .7);
}

.HamburgerMenuItem__content a { 
    text-align: center;
    height: 0;
    width: 100%;
    text-transform: uppercase;
    font-size: 13px;
    height: fit-content;
    padding: .3rem 0;
    text-decoration: none;
    color: black !important;
}

.yes-height { 
    height: fit-content!important;
}