.SingleNewsPage__container-main { 

    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
   


}

.SingleNewsPage__container { 
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
    min-height: 100vh;
    height: 100%;
}

.SingleNewsPage__container-left { 
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: flex-start;
    /* border: 1px solid violet; */
    margin: 2rem auto;
}

.SingleNewsPage__container-right { 
    display: flex;
    flex-direction: column;
    width: 30%;
    height: fit-content;
    min-height: 100vh;
    margin: 2rem auto;
    /* border: 1px solid green; */
}

.SingleNewsPage__news-container { 
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 80%;
    height: fit-content;
    min-height: 100vh;
}

.SingleNewsPage__img-container { 
    display: flex;
    width: 100%;
    height: fit-content;
    min-height: fit-content;
    flex-direction: column;

}


.SingleNewsPage__img-container img { 
    height: 90%;
    max-height: 50vh;
    object-fit: cover;
    object-position: center;
    width: 100%;
    

}

.SingleNewsPage__info-container { 
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    flex-wrap: wrap;
   
}

.SingleNewsPage__info-container h1 { 
    width: 100%;
    text-align: justify;
    margin-bottom: 1rem;
    font-size: 28px;
    color: darkred;
 
}




.SingleNewsPage__info-container ul li {
    display: flex !important;
    flex-direction: column !important;
    width: 80% !important;
    margin: 0 auto !important;
    color: black !important;
    list-style-type:disc;
}

.SingleNewsPage__info-container ol li{ 
    display: flex !important;
    flex-direction: column !important;
    width: 80% !important;
    margin: 0 auto !important;
    color: black !important;


}

.SingleNewsPage__info-container  li { 
    text-align: start;
    display: flex; 
    justify-content: flex-start;
    flex-direction: row;
    line-height: normal;
    height: fit-content;
    font-weight: normal;
    font-size: 15px;
    margin: .4rem 0;
    width: 100%;
    color: black !important; 
    text-transform: none !important;
    list-style-type: circle !important; 

}

.SingleNewsPage__info-container p { 
    text-align: justify;
    line-height: 150%;
    font-size: 19px;
    margin: .3rem 0;
   
}


.SingleNewsPage__small-info { 
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 0rem auto;
    height: fit-content;
    max-height: 10%;
    justify-content: space-between;
    border-bottom: 1px solid gainsboro;

}

.SingleNewsPage__small-info p { 

    display: flex;
    width: fit-content;
    text-align: start;
    margin: .5rem 0;
    padding: 0;
    font-size: 12px;
}

.SingleNewsPage__small-info h3 { 
    display: flex;
    flex-direction: row;
    width: fit-content;
    text-align: start;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    padding: 0;
    margin: 0;
    color: darkred;
}

.Gallery__container-singleStaff__page { 
    display: flex;
    flex-direction: row;
    width: 260px;
    height: fit-content;
}
.Gallery__container-singleStaff__page img { 
    width: 200px;
    height: 200px;
    margin-right: 1rem;
}

.SinglePageNews__photoGallery-container { 
    display: flex;
    flex-direction: column !important;
    height: fit-content;
    width: 100%;
    flex-direction: column;    
    /* border: 1px solid violet; */
 
}
.SinglePageNews__photoGallery-container img  { 
    margin-right: 1rem !important;
    object-fit: cover;
}

.GalleryFont-header { 
    text-transform: uppercase;
    font-size: 20px;
}

.Gallery__container-singleStaff__page { 
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
    width: 70%;

}

.Gallery__container-singleStaff__page img { 
    margin: 0;
}



@media screen and (max-width: 768px) {
    .Gallery__container-singleStaff__page { 
        display: flex;
        flex-direction: column !important;
        margin: 0 auto;
        width: 90%;
    }
    .Gallery__container-singleStaff__page img { 
        margin: 1rem auto;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) { 
    .Gallery__container-singleStaff__page { 
        display: flex;
        flex-direction: row !important;
        margin: 0;
        width: 70%;
    }
    .Gallery__container-singleStaff__page img { 
        margin: 0rem;
    }
}


@media screen and (max-width: 991px) {

    .SingleNewsPage__container-main { 
        margin-top: 80px;
    }

    .SingleNewsPage__container { 
        flex-direction: column;
        width: 100%;
    }

    .SingleNewsPage__container-left { 
        width: 100%;
    }

    .SingleNewsPage__container-right { 
        width: 80%;
        min-height: fit-content;
    }

    .SingleNewsPage__img-container { 
        height: 30vh;
        min-height: 30vh;
    }

    .SingleNewsPage__info-container h1 { 
        font-size: 20px;
    }

    

}
