.SkupstinaPage__main-container { 
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.SkupstinaPage__container { 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 75%;
    align-items: center;
    margin: 0 auto;
}

.SkupstinaPage__container h1 { 
    font-size: 20px;
}

.SkupstinaPage__doc-container { 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 2rem auto;
    height: fit-content;
    min-width: 40vh;
    width: 80%;    
    background-color: rgb(244, 242, 236, .3);
}

.SkupstinaPage__doc-container li { 
    width: 90%;
    margin: .5rem auto;
    display: flex;
    height: fit-content;
    min-height: 3rem;
    flex-direction: row;
    align-items: center;
    padding: .5rem;
    background-color: #f4f2ec;

}

.SkupstinaPage__doc-container li a { 
    display: flex;
    text-decoration: none;
    color: black;
    width: 80%;
    height: 90%;
    margin: auto;

}

.SkupstinaPage__doc-container li a:hover { 
    color: #AB0707;
    background-color: #f4f2ec;
    text-decoration: underline;
    font-weight: 450;
}

.SkupstinaPage__doc-container li img { 
    width: 40px;
    height: 40px;
    margin: auto;
}