.Footer__container { 
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    background-color: #202020;
    color: white;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    transition: opacity 0.6s ease; /* Adjust the duration as needed */
    opacity: 1; /* Initially hide the footer */
}



.Footer__container-top { 
    display: flex;
    height: 80%;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.Footer__image-container { 
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 100%;
    min-height: 100px;
    margin: 0;
    align-items: center;
    justify-content: flex-start;

}

.Footer__image-container img { 
    width: 110px;
    /* height: 50px; */
    margin-right: 1rem;
    z-index: 0;
}

.Footer__info-container { 
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.Footer__info-container p { 
    margin: 0;
}

.Footer__container-bottom { 
    display: flex;
    height: 20%;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 1rem;
}
.Footer__container-bottom p { 
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-transform: none;
    margin: 0.2rem auto;
    font-size: 13px;
}

.Footer__container-top__bigCol { 
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 70%;
}

.Footer__container-top__col { 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: fit-content;
    margin: 0;
    width: 40%;
    min-height: 60%;
    height: 100%;
}

.footer_center { 
    justify-content: center;
    align-items: flex-start;
    scale: .8;
    width: 100%;
    left: 5%;
    position: relative;
    text-transform: none;
}

.Footer__container-top__col a { 
    width: 100%;
    color: white;
    text-decoration: none;
    text-transform: none;
    margin-top: .2rem;
    font-size: 14px;
}

.Footer__container-top__col h1 { 
    font-size: 17px;

}




@media screen and (max-width: 767px) {

    .Footer__container { 
        height: fit-content;
        justify-content: center;
    }

    .Footer__container-top { 
        flex-direction: column-reverse;
        align-items: center;
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        
    }

    .Footer__container-top__bigCol { 
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        /* padding: 0 1rem; */
        /* border: 1px solid violet; */
        margin: 1rem 0;
        width: 80%;

    }

    .Footer__container-top__col { 
       display: flex;
       flex-direction: column;
       justify-content: center !important;
       align-items: center !important;
       margin: 0 1.5rem !important;
       width: 100% !important;
       /* border: 1px solid green; */
       
    }

    .Footer__container-top__col h1 { 
        width: 100%;
    }

    .Footer__container-top__col a { 
        width: 100%;
    }

    .footer_center { 
        justify-content: center;
        align-items: flex-start;
        scale: .8;
        width: 100%;
        left: 0%;
        position: relative;
        text-transform: none;
    }

    .Footer__container-bottom { 
        text-align: center;
        margin: 1rem auto;
        width: 90%;
       
    }
    .Footer__container-bottom p { 
        font-size: 12px;
        margin: .5rem 0;
    }

    .Footer__image-container { 
        display: flex;
        align-items: center;
        margin: 0 auto !important;
        width: 100%;
        justify-content: center;
        /* border: 1px solid violet; */
    }
  
}