.LawsPage__main-container { 
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
}

.LawsPage__container { 
    display: flex;
    flex-direction: row;
    width: 80%;
    align-items: flex-start;
    margin: 1rem auto;
    height: fit-content;
}

.LawsPage__left-container { 
    display: flex;
    flex-direction: column;
    width: 70%;
    height: fit-content;
    
}



.LawsPage__left-container a { 
    text-decoration: none !important;
    height: fit-content;
    display: flex;
    width: 90%;
    min-height: 2rem;
    flex-direction: row;
    background-color: #f4f2ec;
    margin: .5rem auto;
}

.LawsPage__document-container { 
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 4rem auto;
    /* border: 1px solid rgb(212, 174, 55, .5); */
    background-color: rgb(244, 242, 236, .3);
    overflow-y: scroll;
    max-height: 50vh;
    max-height: 80vh;
    overflow-y: scroll;
}

.LawsPage__document-container:first-child { 
    margin-top: 1rem;
}

.LawsPage__document-container:last-child { 
    margin-bottom: 1rem;
}


.LawsPage__right-container { 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1rem auto;
    min-height: 40vh;
    width: 30%;
}

.LawsPage__text-container { 
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 80%;
    
}

.LawsPage__document-container img { 
    width: 5%;
    height: 100%;
    max-height: 50px;
    margin: auto;
}

.LawsPage__text-container p { 
    display: flex;
    margin: .5rem !important;
    color: black;
    height: 90%;
    font-size: 15px;
    text-decoration: underline;
    padding: 0 !important;

}

.LawsPage__text-container p:hover { 
    color: #AB0707;
}