.MenuDropdown__menuItems { 
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 105%;
    left: 0;
    border-top: none;
    width: 150%;



}

#MenuDropdown-link { 
    list-style: none;
    width: 150px;
    min-width: 150px;
    height: 30px;
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    position: relative;
    
}

li  a { 
    color: white;
    text-decoration: none;
    height: 100%;
    width: 150px;
    margin: 0;
    padding: 0;
    font-weight: 550;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2 ease-in-out;
}

.helperDiv:hover, li  a:hover { 
    background-color: #AB0707;
    cursor: pointer;
    color: white !important;
   
}




.MenuDropdown__menuItems  a { 
    display: flex;
    position: relative;
    height: 100%;
    justify-content: space-between;
    font-size: 13px;
    color: black;
    background-color: #f4f2ec;
    /* background-color: rgb(243, 235, 211, .4); */

}

.helperDiv { 
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 40px;
    color: black;
    border-top: 1px solid gainsboro;
}

.helperDiv:first-child { 
    border: none;
}

.MenuDropdown__menuItems  a { 
    width: 100%;
    width: 400px;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0 2rem;
    text-transform: none;
    background-color: #f4f2ec;

}

.MenuDropdown__menuItems  a:hover  { 
    /* color:  #F1E5AC !important; */
    color: white !important; 
}


.MenuDropdown__menuItems  a:hover.MenuDropdown__menuItems  a span { 
    color: white !important;
}

.MenuDropdown__menuItems  a span { 
    font-size: 20px;
    position: absolute;
    font-weight: 550;
    left: 10px;
    top: 6px;
    color: #d4ae37;


}


@media screen and (max-width: 991px) {
    .MenuDropdown__menuItems { 
        display: none;
    }
    
}

