.Contact__container-main { 
    display: flex;
    width: 100%;
    flex-direction: column;
    height: fit-content;
    min-height: 100vh;
  

}


.Contact__container { 
    display: flex;
    flex-direction: row; 
    justify-content: center;
    margin: 1rem auto;
    width: 80%;
    min-height: 100vh;
    height: fit-content;
    min-height: 50vh;
    /* border: 1px solid gainsboro; */

}

.Contact__container img { 
    width: 200px;
    height: 200px;
}

.Contact__info-container { 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 40%;
    margin: 2rem;
    height: 50vh;
    /* background-color: rgb(244, 242, 236, .3);
    border: 1px solid rgb(212, 174, 55, .2); */
}

.Contact__info-container-right { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
    /* background-color: rgb(244, 242, 236, .3);
    border: 1px solid rgb(212, 174, 55, .2); */
    margin-top: 2rem;
    width: 30%;

}

.Contact__info-container p, .Contact__info-container-right p { 
    font-size: 15px;
    margin: 0;
    margin-bottom: .5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.Contact__info-container p a, .Contact__info-container-right p a{ 
    color: #AB0707;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-align: start;
    font-size: 14px;
    padding: 0 !important;
    height: 100%;
    width: 100% !important;
    cursor: auto;
    margin: 0 !important;
    margin-left: .5rem !important;
}

.Contact__info-container-right div { 
    width: 80%;
    margin: 0 auto;
}

.Contact__info-container-right img { 
    margin: auto;
}



.Contact__info-container-right h5 { 
    margin: 0 auto;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 1rem;
    width: 80%;
}

.Contact__info-container h1 { 
    font-size: 20px;
    width: 90%;
    margin: 1rem auto;
    margin-top: 0;
    text-transform: uppercase;
}

.Contact__info-container iframe { 
    border:  1px solid rgb(212, 174, 55, .3);
    width: 90%;
    height: 100%;
    margin: 0 auto;
}


@media screen and (max-width: 767px) { 

    .Contact__container-main { 
        margin-top: 80px !important;
        margin: 0 auto;
    }

    .Contact__container { 
        min-height: fit-content;
        width: 90%;
        flex-direction: column;
        margin-bottom: 2rem;
    }

    .Contact__info-container { 
        margin: 0.5rem auto;
        display: flex;
        width: 90%;
    
    }
    .Contact__info-container h1 { 
        margin: 1rem 0;
        font-size: 15px;
    }

    .Contact__info-container-right img { 
        width: 80%;
        
    }

    .Contact__info-container-right h5 { 
        font-size: 13px;
        text-align: center;
    }

    .Contact__info-container-right { 
        display: flex; 
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
        width: 90%;
        margin: 2rem auto;
    }



    .Contact__info-container iframe { 
        width: 100% !important;

    }


}


@media screen and (min-width: 767px) and (max-width: 991px) {

    .Contact__container-main { 
        margin-top: 80px;
    }

    .Contact__container { 
        min-height: 30vh;
       
    }

    
    
}